@import "/src/styles.scss";

.confirmation {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.container {
  padding: 44px 0px;
}
