@import "/src/styles.scss";

.container {
  padding: 44px 0px;
}

.p-dropdown {
  width: 100%;
}

.category-details {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
}

.category-dropdown-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 10px;
}

.navigation-buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.show-seating-plan-button {
  float: right;
  margin-top: 10px;
  background-color: rgba(124, 3, 3, 0.849); 
  color: white;
  border: none; 
  cursor: pointer;
  padding: 10px 24px; 
  border-radius: 35px;
  font-weight: $button-text-font-weight;
  font-size: $button-text-font-size;
  -webkit-text-fill-color: $white;
  min-width: 200px;
}

.table-container {
  position: relative; /* Create a positioning context */
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

