<app-header></app-header>

<!--retrieve selected concert from http request -->
<!-- retrieve categories -->
<div class="container">
  <div class="category-details">
    <!-- <h1>{{ eventTitle }}</h1> -->
    <div class="content">
      <p>
        The following table shows categories and the remaining number of tickets
        per category. Your group has {{ groupSize }} people. 
      </p>
      <button class="show-seating-plan-button" (click)="toggleSeatingPlan()">
        {{ showSeatingPlan ? "Hide Seating Plan" : "Show Seating Plan" }}
      </button>
    </div>
  </div>
  <img
  style="display: block; margin: 0 auto; width: 50%; height: auto;"
    src="assets/seating-plans/tswift-era-2024-seating.jpg"
    alt="Seating Plan"
    *ngIf="showSeatingPlan"
  />

  <app-show-table></app-show-table>
  <p>
    Please indicate your choice of category below, then proceed to purchase.
  </p>
    <div class="category-dropdown-container">
      <p-dropdown
        [options]="categories"
        [(ngModel)]="selectedCategory"
        placeholder="Select category"
      ></p-dropdown>
    </div>

  <div class="navigation-buttons">
    <div class="back-button">
      <app-text-button
        buttonVariants="black"
        buttonText="Back to Login"
        (buttonClick)="handleBack()"
      ></app-text-button>
    </div>
    <div class="next-button">
      <app-text-button
        buttonVariants="primary"
        buttonText="Proceed to Purchase"
        (buttonClick)="handleNext()"
      ></app-text-button>
    </div>
  </div>
</div>
